name: Deploy to Prod S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for OIDC
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          # If using a subdirectory, add the path here, e.g., 'frontend/package-lock.json'
          cache-dependency-path: package-lock.json 

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::767397687312:role/github-oidc
          aws-region: us-east-2

      - name: Sync to S3
        run: |
          aws s3 sync build s3://lokryn-prod-docs\
            --delete \
            --exact-timestamps


      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E1XQGYN92KPMWV \
            --paths "/*"